.tip {
    margin-top: 15px;
    font-size: 14px;
    color: rgba(2, 2, 2, 0.56);
    padding-left: 21px;
}

@media (max-width: 1024px) {
    .tip {
        font-size: 13px;
        padding-left: 0;
        text-align: center;
    }
}
